*, body, html {
	height: 100%;
	width: 100%;
	margin: 0;
	padding: 0;
	font-family: Helvatica, sans-serif;
}

body {
	height: 100%;
	width: 100%;
	background: radial-gradient(#fff, #eee);
}

.container {
	width: calc(100% - 2rem);
	height: calc(100% - 2rem);
	display: flex;
	padding: 1rem;
	background-image: url("./images/beer.png");
	background-position: center;
	background-repeat: no-repeat;
	background-size: contain;
}

.bg-text {
	display: flex;
	flex-flow: column;
	z-index: 2;
	width: 70%;
	height: 10%;
	text-align: center;
	border: 1px solid white;
	border-radius: 5px;
	margin: auto;
	padding: 1rem;
	background-color: rgba(0, 0, 0, 0.3);
	color: white;
}

.bg-text h1 {
	height: auto;
	flex: 1;
}

.bg-text p {
	height: auto;
	flex: 0;
}