body, html {
	height: 100%;
	width: 100%;
	margin: 0;
	padding: 0;
	font-family: Helvatica, sans-serif;
}

body {
	background: radial-gradient(#fff, #eee);
	margin: 0;
}

ul.topnav {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #333;
}

ul.topnav li {float: left;}

ul.topnav li a {
  display: block;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

ul.topnav li a:hover:not(.active) {background-color: #111;}

ul.topnav li a.active {background-color: #d7ad17;}

ul.topnav li.right {float: right;}

@media screen and (max-width: 600px) {
  ul.topnav li.right,
  ul.topnav li {float: none;}
}

.container {
	width: calc(100% - 2rem);
	height: calc(100% - 2rem);
	display: flex;
	padding: 1rem;
	background-image: url("./images/beer.png");
	background-position: center;
	background-repeat: no-repeat;
	background-size: contain;
}

.bg-text {
	display: flex;
	flex-flow: column;
	z-index: 2;
	width: 70%;
	height: auto;
	text-align: center;
	border: 1px solid white;
	border-radius: 5px;
	margin: auto;
	padding: 1rem;
	background-color: rgba(0, 0, 0, 0.3);
	color: white;
}

.bg-text h1 {
	height: auto;
	flex: 1;
}

.bg-text p {
	height: auto;
	flex: 0;
}